.mar-pad {
  margin: 0;
  padding: 0;
}

.navHeader {
  background-color: white !important;
  box-shadow: 0px 0px 4px;
  margin: 10px !important;
  width: 100%;
}

.ui.icon.input>input {
  margin-right: 200px !important;
  width: 100%;
}

.ui.feed>.event>.label{
  height: 200px;
  width: 200px;
}
